<tr style='background-color: <%= backgroundColor %>'>
    <td>
        <a href='../unzipped/<%= patient.patientId %>'>
            <%= patient.patientId %>
        </a>
    </td>
    <td>
        <%= patient.operator %>
    </td>
    <td>
        <table>
            <thead>
                <tr>
                    <th>analysisId</th>
                    <th>status</th>
                    <th>Area</th>
                    <th>Error</th>
                </tr>
            </thead>
            <tbody style="vertical-align: top;">
                <% if (patient.analyses) { %>
                    <% Object.entries(patient.analyses).forEach( ([patientId,analysis]) => { %>
                        <%- include('./overview_patient_analysis', {patient, analysis}) %>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </td>
</tr>