
<tr style="background-color: ${patient.backgroundColor};">
    <td>
        <a href='../unzipped/<%= patient.patientId %>/<%= analysis.analysisId %>/raw'>
            <%= analysis.analysisId %>
        </a>
    </td>
    <td>
        <%= analysis.status %>
    </td>
    <td>
        <table>
            <tr>
                <th>areaCode</th>
                <th>statusMessage</th>
                <th>rating</th>
                <th>profileLabel</th>

                <th>depth</th>
                <th>frequency</th>
                <th>resolution</th>
                <th>focalPoint</th>

                <th>error</th>
            </tr>
            <% if (analysis.areas) { %>
                <% Object.entries(analysis.areas).forEach( ([code,video]) => { %>
                    <%- overview_patient_analysis_video({patient, analysis, video}) %>
                <% }) %>
            <% } %>
        </table>
    </td>
    <td>
        <%= analysis.error?analysis.error:'' %>
    </td>
</tr>